.header {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;

    .sc-icon-stylecraft {
      margin-right: var(--padding-md);
    }

    span {
      color: var(--color-primary-dark);
    }
  }
}

.app {
  padding: 2rem;
}
