.sc-container-fixed,
.sc-container-fluid {
  padding: var(--padding-md);
  margin: 0 auto;
  width: 100%;
}

.sc-container-fixed {
  @media only screen and (min-width: 480px) {
    width: 480px;
  }

  @media only screen and (min-width: 600px) {
    width: 600px;
  }

  @media only screen and (min-width: 840px) {
    width: 840px;
  }

  @media only screen and (min-width: 1280px) {
    width: 1280px;
  }

  @media only screen and (min-width: 2440px) {
    width: 2440px;
  }
}

.sc-container-fluid {
  @media only screen and (min-width: 480px) {
    width: calc(100% - 2 * var(--padding-md));
  }

  @media only screen and (min-width: 600px) {
    width: calc(100% - 2 * var(--padding-lg));
  }

  @media only screen and (min-width: 840px) {
    width: calc(100% - 2 * 5rem);
  }

  @media only screen and (min-width: 1280px) {
    width: calc(100% - 2 * 10rem);
  }

  @media only screen and (min-width: 2440px) {
    width: calc(100% - 2 * 15rem);
  }
}
