.sc-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 2 * var(--padding-md));
  max-height: calc(100vh - 2 * var(--padding-md));
  overflow: auto;
  background-color: var(--color-lighter);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-md);
  z-index: 10300;

  @media only screen and (min-width: 600px) {
    width: 30rem;

    &.sc-md {
      width: 36rem;
    }

    &.sc-lg {
      width: 42rem;
    }
  }

  @media only screen and (min-width: 1280px) {
    width: 36rem;

    &.sc-md {
      width: 42rem;
    }

    &.sc-lg {
      width: 48rem;
    }
  }

  &.sc-stretched {
    width: calc(100vw - 2 * var(--padding-md));
    height: calc(100vh - 2 * var(--padding-md));
    max-height: calc(100vh - 2 * var(--padding-md));
  }

  &.sc-fullscreen {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }

  &.sc-is-active {
    opacity: 1;
    visibility: visible;
  }
}
