.sc-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--fade-dark-md);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-sm);
  z-index: 10100;
  cursor: pointer;

  &.sc-is-active {
    opacity: 1;
    visibility: visible;
  }
}
