.sc-form-range {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  input {
    width: 100%;
    height: var(--border-thickness);
    padding: 0;
    margin: calc(var(--icon-sm) / 2) 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-md);
    transition: all var(--transition-sm);
    appearance: none;
    outline: none;

    @mixin thumb {
      width: var(--icon-sm);
      height: var(--icon-sm);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      background-image: var(--icon-handle-h);
      background-color: var(--color-lighter);
      border: var(--border-thickness) solid var(--color-primary-light);
      border-radius: 50%;
      box-shadow: var(--box-shadow-md);
      transition: all var(--transition-sm);
      appearance: none;
      outline: none;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }

    &:not(:disabled) {
      background-color: var(--color-primary-light);
      cursor: pointer;

      &:hover {
        @mixin thumb {
          background-color: var(--color-light);
          cursor: pointer;
        }

        &::-moz-range-thumb {
          @include thumb;
        }

        &::-webkit-slider-thumb {
          @include thumb;
        }
      }
    }

    &:disabled {
      background-color: var(--fade-grey-md);
      cursor: not-allowed;

      @mixin thumb {
        background-color: var(--color-lighter);
        border-color: var(--fade-grey-md);
        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        @include thumb;
      }

      &::-webkit-slider-thumb {
        @include thumb;
      }

      + label {
        color: var(--fade-grey-lg);
      }
    }

    &:focus {
      background-color: var(--color-secondary-light);

      @mixin thumb {
        border-color: var(--color-secondary-light);
      }

      &::-moz-range-thumb {
        @include thumb;
      }

      &::-webkit-slider-thumb {
        @include thumb;
      }
    }
  }
}
