.sc-form-select {
  position: relative;
  display: flex;
  flex-direction: row;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: var(--icon-md);
    height: var(--icon-md);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 1rem;
    mask-image: var(--icon-down);
    background-color: var(--fade-grey-md);
    pointer-events: none;
  }

  select {
    color: var(--color-darker);
    width: 100%;
    height: var(--icon-md);
    padding: 0 var(--icon-md) 0 var(--padding-md);
    background-color: var(--color-lighter);
    border: var(--border-thickness) solid var(--color-primary-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-md);
    transition: all var(--transition-sm);
    appearance: none;
    cursor: pointer;

    &:disabled {
      background-color: var(--color-light);
      border: var(--border-thickness) solid var(--fade-grey-md);
      cursor: not-allowed;
    }

    &:focus {
      background-color: var(--color-lighter);
      border: var(--border-thickness) solid var(--color-secondary-light);
      outline: none;
    }

    &.sc-form-option {
      background-color: var(--color-lighter);
    }
  }
}
