.sc-slide-open {
  position: fixed;
  top: var(--padding-md);
  width: var(--icon-lg);
  height: var(--icon-lg);
  z-index: 10000;

  &.sc-slide-left {
    left: var(--padding-md);
  }

  &.sc-slide-right {
    right: var(--padding-md);
  }
}

.sc-slide {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 22rem;
  height: 100vh;
  padding: 0 var(--padding-md);
  background-color: var(--color-lighter);
  box-shadow: var(--box-shadow-md);
  transition: var(--transition-md);
  z-index: 10200;

  @media only screen and (min-width: 600px) {
    width: 24rem;
  }

  &.sc-slide-left {
    left: 0;
    transform: translateX(-100%);
  }

  &.sc-slide-right {
    right: 0;
    transform: translateX(100%);
  }

  &.sc-is-active {
    transform: translateX(0);
  }

  .sc-slide-header {
    position: relative;
    padding: var(--padding-md) 0;
    border-bottom: var(--border-thickness) solid var(--fade-dark-sm);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      line-height: var(--icon-lg);
    }

    .sc-slide-close {
      position: absolute;
      top: 50%;
      right: 0;
      width: var(--icon-lg);
      height: var(--icon-lg);
      transform: translateY(-50%);
    }
  }

  .sc-slide-body {
    flex-grow: 10;
    padding: var(--padding-md) 0;
    overflow: auto;
  }

  .sc-slide-footer {
    padding: var(--padding-md) 0;
    border-top: var(--border-thickness) solid var(--fade-dark-sm);
  }

  + .sc-overlay {
    z-index: 10100;
  }
}
