.sc-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-lighter);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-sm);
  z-index: 10700;

  &.sc-is-active {
    opacity: 1;
    visibility: visible;
  }

  .sc-splash-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    width: 24rem;
    height: 100%;
    transform: translateX(-50%);

    .sc-splash-icon {
      flex-grow: 10;
      position: relative;

      i {
        position: absolute;
        left: 50%;
        bottom: var(--padding-lg);
        width: 8rem;
        height: 8rem;
        transform: translateX(-50%);

        &::before {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          mask-size: 100%;
          mask-repeat: repeat;
          mask-position: center;
          mask-image: var(--icon-stylecraft);
          background-color: var(--color-primary-dark);
        }
      }
    }

    h2 {
      flex-grow: 0;
      color: var(--color-primary-dark);
      text-align: center;
    }

    p {
      flex-grow: 5;
      color: var(--color-dark);
      text-align: center;
    }

    em {
      color: var(--color-dark);
      text-align: center;
    }
  }
}
