.sc-splash,
.sc-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-sm);
  z-index: 10700;

  &.sc-is-active {
    opacity: 1;
    visibility: visible;
  }

  .sc-splash-container,
  .sc-loader-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    width: 24rem;
    height: 100%;
    transform: translateX(-50%);

    .sc-splash-icon,
    .sc-loader-icon {
      flex-grow: 10;
      position: relative;

      i {
        position: absolute;
        left: 50%;
        bottom: var(--padding-lg);
        width: 8rem;
        height: 8rem;
        transform: translateX(-50%);

        &::after,
        &::before {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          mask-size: 100%;
          mask-repeat: repeat;
          mask-position: center;
          mask-image: var(--icon-stylecraft);
          background-color: var(--color-primary-dark);
        }
      }
    }

    h2 {
      flex-grow: 0;
      color: var(--color-primary-dark);
      text-align: center;
    }

    p {
      flex-grow: 5;
      color: var(--color-dark);
      text-align: center;
    }

    em {
      color: var(--color-dark);
      text-align: center;
    }
  }
}

.sc-splash {
  background-color: var(--color-lighter);

  .sc-splash-container {
    .sc-splash-icon {
      i {
        &::before {
          mask-image: var(--icon-stylecraft);
        }
      }
    }
  }
}

.sc-loader {
  background-color: var(--fade-light-md);

  .sc-loader-container {
    .sc-loader-icon {
      i {
        &::after,
        &::before {
          transform-origin: center;
          animation-name: rotate;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          mask-image: var(--icon-loader);
        }

        &::after {
          animation-duration: 1.5s;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
