button,
input,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  margin: var(--padding-sm) 0 var(--padding-md) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--padding-md) 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: var(--color-primary-dark);
  }

  &:hover,
  &:active {
    color: var(--color-secondary-dark);
  }
}

.sc-highlight {
  padding: var(--padding-sm);
  color: var(--color-primary-dark);
  background-color: var(--fade-dark-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--fade-dark-md);
}
