:root {
  --icon-bullet: url("../assets/images/icon-bullet.svg");
  --icon-calendar: url("../assets/images/icon-calendar.svg");
  --icon-checkbox: url("../assets/images/icon-checkbox.svg");
  --icon-close: url("../assets/images/icon-close.svg");
  --icon-compass: url("../assets/images/icon-compass.svg");
  --icon-cross: url("../assets/images/icon-cross.svg");
  --icon-direction: url("../assets/images/icon-direction.svg");
  --icon-down: url("../assets/images/icon-down.svg");
  --icon-false: url("../assets/images/icon-false.svg");
  --icon-fullscreen: url("../assets/images/icon-fullscreen.svg");
  --icon-geolocation: url("../assets/images/icon-geolocation.svg");
  --icon-handle-v: url("../assets/images/icon-handle-v.svg");
  --icon-handle-h: url("../assets/images/icon-handle-h.svg");
  --icon-help: url("../assets/images/icon-help.svg");
  --icon-info: url("../assets/images/icon-info.svg");
  --icon-left: url("../assets/images/icon-left.svg");
  --icon-location: url("../assets/images/icon-location.svg");
  --icon-login: url("../assets/images/icon-login.svg");
  --icon-logout: url("../assets/images/icon-logout.svg");
  --icon-maximize: url("../assets/images/icon-maximize.svg");
  --icon-menu: url("../assets/images/icon-menu.svg");
  --icon-minimize: url("../assets/images/icon-minimize.svg");
  --icon-mode: url("../assets/images/icon-mode.svg");
  --icon-next: url("../assets/images/icon-next.svg");
  --icon-order: url("../assets/images/icon-order.svg");
  --icon-order-down: url("../assets/images/icon-order-down.svg");
  --icon-order-up: url("../assets/images/icon-order-up.svg");
  --icon-pause: url("../assets/images/icon-pause.svg");
  --icon-play: url("../assets/images/icon-play.svg");
  --icon-prev: url("../assets/images/icon-prev.svg");
  --icon-radio: url("../assets/images/icon-radio.svg");
  --icon-restart: url("../assets/images/icon-restart.svg");
  --icon-right: url("../assets/images/icon-right.svg");
  --icon-route: url("../assets/images/icon-route.svg");
  --icon-search: url("../assets/images/icon-search.svg");
  --icon-share: url("../assets/images/icon-share.svg");
  --icon-stop: url("../assets/images/icon-stop.svg");
  --icon-tour: url("../assets/images/icon-tour.svg");
  --icon-true: url("../assets/images/icon-true.svg");
  --icon-up: url("../assets/images/icon-up.svg");
  --icon-zoom-in: url("../assets/images/icon-zoom-in.svg");
  --icon-zoom-out: url("../assets/images/icon-zoom-out.svg");
}
