:root {
  --icon-bullet: url("../assets/images/bullet.svg");
  --icon-calendar: url("../assets/images/calendar.svg");
  --icon-checkbox: url("../assets/images/checkbox.svg");
  --icon-close: url("../assets/images/close.svg");
  --icon-compass: url("../assets/images/compass.svg");
  --icon-cross: url("../assets/images/cross.svg");
  --icon-direction: url("../assets/images/direction.svg");
  --icon-down: url("../assets/images/down.svg");
  --icon-false: url("../assets/images/false.svg");
  --icon-fullscreen: url("../assets/images/fullscreen.svg");
  --icon-geolocation: url("../assets/images/geolocation.svg");
  --icon-handle-v: url("../assets/images/handle-v.svg");
  --icon-handle-h: url("../assets/images/handle-h.svg");
  --icon-help: url("../assets/images/help.svg");
  --icon-info: url("../assets/images/info.svg");
  --icon-left: url("../assets/images/left.svg");
  --icon-location: url("../assets/images/location.svg");
  --icon-login: url("../assets/images/login.svg");
  --icon-logout: url("../assets/images/logout.svg");
  --icon-maximize: url("../assets/images/maximize.svg");
  --icon-menu: url("../assets/images/menu.svg");
  --icon-minimize: url("../assets/images/minimize.svg");
  --icon-mode: url("../assets/images/mode.svg");
  --icon-next: url("../assets/images/next.svg");
  --icon-order: url("../assets/images/order.svg");
  --icon-order-down: url("../assets/images/order-down.svg");
  --icon-order-up: url("../assets/images/order-up.svg");
  --icon-pause: url("../assets/images/pause.svg");
  --icon-play: url("../assets/images/play.svg");
  --icon-prev: url("../assets/images/prev.svg");
  --icon-radio: url("../assets/images/radio.svg");
  --icon-restart: url("../assets/images/restart.svg");
  --icon-right: url("../assets/images/right.svg");
  --icon-route: url("../assets/images/route.svg");
  --icon-search: url("../assets/images/search.svg");
  --icon-share: url("../assets/images/share.svg");
  --icon-stop: url("../assets/images/stop.svg");
  --icon-tour: url("../assets/images/tour.svg");
  --icon-true: url("../assets/images/true.svg");
  --icon-up: url("../assets/images/up.svg");
  --icon-zoom-in: url("../assets/images/zoom-in.svg");
  --icon-zoom-out: url("../assets/images/zoom-out.svg");
}
