$color-primary-light: #00a8ff;
$color-primary-dark: #0097e6;
$color-secondary-light: #e84118;
$color-secondary-dark: #c23616;

$color-lighter: #fafafa;
$color-light: #eeeeee;
$color-dark: #353b48;
$color-darker: #2f3640;

$color-grey-sm: #eceff1;
$color-grey-md: #cfd8dc;
$color-grey-lg: #b0bec5;

$dark: 0;
$grey: 140;
$silver: 145;
$light: 255;
