@import "config";

:root {
  --color-primary-light: #{$color-primary-light};
  --color-primary-dark: #{$color-primary-dark};
  --color-secondary-light: #{$color-secondary-light};
  --color-secondary-dark: #{$color-secondary-dark};

  --color-lighter: #{$color-lighter};
  --color-light: #{$color-light};
  --color-dark: #{$color-dark};
  --color-darker: #{$color-darker};

  --color-grey-sm: #{$color-grey-sm};
  --color-grey-md: #{$color-grey-md};
  --color-grey-lg: #{$color-grey-lg};

  --color-transparent: rgba(0, 0, 0, 0);

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;

  --icon-sm: 1.6rem;
  --icon-md: 2.4rem;
  --icon-lg: 3.2rem;

  --border-radius: 4px;
  --border-thickness: 1px;

  --transition-sm: 0.3s ease;
  --transition-md: 0.5s ease;
  --transition-lg: 0.7s ease;

  --box-shadow-sm: 0px 0px 4px rgba(#{$dark}, #{$dark}, #{$dark}, 0.1);
  --box-shadow-md: 0px 0px 4px rgba(#{$dark}, #{$dark}, #{$dark}, 0.2);
  --box-shadow-lg: 0px 0px 4px rgba(#{$dark}, #{$dark}, #{$dark}, 0.3);

  --box-shadow-inset-sm: 0px 0px 4px inset
    rgba(#{$dark}, #{$dark}, #{$dark}, 0.1);
  --box-shadow-inset-md: 0px 0px 4px inset
    rgba(#{$dark}, #{$dark}, #{$dark}, 0.2);
  --box-shadow-inset-lg: 0px 0px 4px inset
    rgba(#{$dark}, #{$dark}, #{$dark}, 0.3);

  --fade-dark-sm: rgba(#{$dark}, #{$dark}, #{$dark}, 0.1);
  --fade-dark-md: rgba(#{$dark}, #{$dark}, #{$dark}, 0.3);
  --fade-dark-lg: rgba(#{$dark}, #{$dark}, #{$dark}, 0.5);

  --fade-grey-sm: rgba(#{$grey}, #{$grey}, #{$grey}, 0.1);
  --fade-grey-md: rgba(#{$grey}, #{$grey}, #{$grey}, 0.3);
  --fade-grey-lg: rgba(#{$grey}, #{$grey}, #{$grey}, 0.5);

  --fade-silver-sm: rgba(#{$silver}, #{$silver}, #{$silver}, 0.1);
  --fade-silver-md: rgba(#{$silver}, #{$silver}, #{$silver}, 0.3);
  --fade-silver-lg: rgba(#{$silver}, #{$silver}, #{$silver}, 0.5);

  --fade-light-sm: rgba(#{$light}, #{$light}, #{$light}, 0.1);
  --fade-light-md: rgba(#{$light}, #{$light}, #{$light}, 0.3);
  --fade-light-lg: rgba(#{$light}, #{$light}, #{$light}, 0.5);
}

:root .sc-dark {
  --color-primary-light: #{$color-primary-dark};
  --color-primary-dark: #{$color-primary-light};
  --color-secondary-light: #{$color-secondary-dark};
  --color-secondary-dark: #{$color-secondary-light};

  --color-lighter: #{$color-darker};
  --color-light: #{$color-dark};
  --color-dark: #{$color-light};
  --color-darker: #{$color-lighter};
}
