html {
  scroll-behavior: smooth;
}

.app {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 1280px) {
    flex-direction: row;
  }

  .header {
    padding: var(--padding-md);
    order: 1;

    h1 {
      position: sticky;
      top: 0;
      padding: var(--padding-md) 0;
      margin: 0;
    }
  }

  .contents {
    padding: var(--padding-md);
    order: 3;

    @media only screen and (min-width: 1280px) {
      flex-grow: 10;
      order: 2;
    }
  }

  .list {
    padding: var(--padding-md);
    order: 2;

    @media only screen and (min-width: 1280px) {
      width: 35rem;
      order: 3;

      > ul {
        position: fixed;
        width: 100%;
        height: calc(100% - 2 * var(--padding-md));
        overflow: auto;
      }
    }
  }
}

.CodeMirror {
  border: 1px solid var(--color-light) !important;
  height: auto !important;
}

.top {
  position: fixed;
  right: var(--padding-md);
  bottom: var(--padding-md);
  z-index: 10000;
}
