.sc-form-button button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-md);
  color: var(--color-dark);
  font-size: 1.1rem;
  font-weight: 400 !important;
  line-height: var(--icon-lg);
  height: var(--icon-lg);
  background-color: var(--color-light);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
  overflow: hidden;
  cursor: pointer;
  word-break: break-all;
}

.sc-form-button.sc-stretched button {
  width: 100%;
}

.sc-form-button button:disabled {
  color: var(--fade-grey-lg);
  background-color: var(--color-light);
  border: var(--border-thickness) solid var(--fade-grey-md);
  cursor: not-allowed;
}

.sc-form-button button:not(:disabled):hover {
  background-color: var(--fade-dark-sm);
  border: var(--border-thickness) solid var(--color-secondary-light);
}

.sc-form-button button span {
  flex-grow: 10;
  line-height: var(--icon-lg);
  text-align: left;
}

.sc-form-button button i {
  flex-shrink: 0;
  position: relative;
  left: calc(-1 * var(--padding-md));
  width: var(--icon-lg);
  height: var(--icon-lg);
  background-color: var(--color-transparent);
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: all var(--transition-sm);
}

.sc-form-button button i:hover {
  background-color: var(--color-transparent);
  border: none;
  box-shadow: none;
}

.sc-form-button button i::before {
  background-color: var(--color-primary-dark);
}

.sc-form-button button:not(:disabled):hover i::before {
  background-color: var(--color-secondary-dark);
}

.sc-form-button button:disabled i::before {
  background-color: var(--fade-grey-lg);
}
