@charset "utf-8";

html,
body {
  padding: 0;
  margin: 0;
  /* height: 100%; */
}

html {
  font-size: 12px;

  *,
  *::after,
  *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
}

body {
  position: relative;
  color: var(--color-dark);
  background-color: var(--color-lighter);

  * {
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
}
