.sc-form {
}

.sc-form-group {
  border-bottom: 1px solid var(--fade-grey-sm);
  padding-bottom: var(--padding-md);
  margin-bottom: var(--padding-md);
}

.sc-form-group:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
