.sc-form-select {
  display: flex;
  flex-direction: row;

  select {
    width: 100%;
    height: var(--icon-md);
    padding: 0 var(--icon-md) 0 var(--padding-md);
    background-repeat: no-repeat;
    background-position: center right var(--padding-sm);
    background-size: 1rem;
    background-image: var(--icon-down);
    background-color: var(--color-lighter);
    border: var(--border-thickness) solid var(--color-primary-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-md);
    transition: all var(--transition-sm);
    appearance: none;
    cursor: pointer;

    &:disabled {
      background-color: var(--color-light);
      border: var(--border-thickness) solid var(--fade-grey-md);
      cursor: not-allowed;
    }

    &:focus {
      background-color: var(--color-lighter);
      border: var(--border-thickness) solid var(--color-secondary-light);
      outline: none;
    }

    &.sc-form-option {
      background-color: var(--color-lighter);
    }
  }
}
