.sc-table {
  width: 100%;
  background-color: var(--color-lighter);
  border-collapse: separate;
  overflow: hidden;
}

.sc-table caption {
  font-size: 1.2rem;
  text-align: left;
  padding: var(--padding-md) var(--padding-sm);
}

.sc-table thead {
  box-shadow: inset 0 calc(-1 * var(--border-thickness)) 0
    var(--color-primary-light);
  /* background-color: var(--fade-grey-sm); */
}

.sc-table thead tr {
}

.sc-table tbody {
}

.sc-table tbody tr:nth-of-type(2n + 1) {
  background-color: var(--fade-dark-sm);
}

.sc-table tbody tr:nth-of-type(2n) {
  background-color: var(--color-transparent);
}

.sc-table th,
.sc-table td {
  font-size: 1rem;
  padding: 0 var(--padding-md);
}

.sc-table th {
  text-align: center;
  line-height: 3;
}

.sc-table td {
  text-align: left;
  line-height: 2.5;
}
