.sc-form-text,
.sc-form-textarea {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.sc-form-text.sc-has-icon,
.sc-form-textarea.sc-has-icon {
  flex-direction: row-reverse;
}

.sc-form-text input,
.sc-form-textarea textarea {
  width: 100%;
  color: var(--color-dark);
  background-color: var(--color-lighter);
  border: var(--border-thickness) solid var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-md);
  transition: all var(--transition-sm);
}

.sc-form-text input {
  padding: 0 var(--padding-sm);
  line-height: var(--icon-md);
}

.sc-form-textarea textarea {
  padding: var(--padding-sm);
  line-height: 1;
  resize: none;
}

.sc-form-text.sc-has-icon input,
.sc-form-textarea.sc-has-icon textarea {
  width: calc(100% - var(--icon-md));
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.sc-form-text.sc-has-label input,
.sc-form-textarea.sc-has-label textarea {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.sc-form-text input:disabled,
.sc-form-textarea textarea:disabled {
  border-color: var(--fade-grey-md);
  cursor: not-allowed;
}

.sc-form-text input:focus,
.sc-form-textarea textarea:focus {
  background-color: var(--color-lighter);
  border-color: var(--color-secondary-light);
  outline: none;
}

.sc-form-text input ~ label,
.sc-form-textarea textarea ~ label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all var(--transition-sm);
}

.sc-form-text:not(.sc-has-icon):not(.sc-has-label) input ~ label,
.sc-form-textarea:not(.sc-has-icon):not(.sc-has-label) textarea ~ label {
  margin-bottom: var(--padding-sm);
}

.sc-form-text.sc-has-icon input ~ label,
.sc-form-text.sc-has-label input ~ label,
.sc-form-textarea.sc-has-icon textarea ~ label,
.sc-form-textarea.sc-has-label textarea ~ label {
  background-color: var(--color-light);
  border: var(--border-thickness) solid var(--color-primary-light);
  box-shadow: var(--box-shadow-md);
}

.sc-form-text.sc-has-icon input ~ label,
.sc-form-textarea.sc-has-icon textarea ~ label {
  flex-shrink: 0;
  width: var(--icon-md);
  border-right: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.sc-form-text.sc-has-label input ~ label,
.sc-form-textarea.sc-has-label textarea ~ label {
  height: var(--icon-md);
  line-height: var(--icon-md);
  padding: 0 var(--padding-md);
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.sc-form-text input:disabled ~ label,
.sc-form-textarea textarea:disabled ~ label {
  color: var(--fade-grey-lg);
  cursor: not-allowed;
}

.sc-form-text.sc-has-icon input:disabled ~ label,
.sc-form-text.sc-has-label input:disabled ~ label,
.sc-form-textarea.sc-has-icon textarea:disabled ~ label,
.sc-form-textarea.sc-has-label textarea:disabled ~ label {
  background-color: var(--color-light);
  border-color: var(--fade-grey-md);
}

.sc-form-text.sc-has-icon input:not(:disabled) ~ label:hover,
.sc-form-text.sc-has-label input:not(:disabled) ~ label:hover,
.sc-form-textarea.sc-has-icon textarea:not(:disabled) ~ label:hover,
.sc-form-textarea.sc-has-label textarea:not(:disabled) ~ label:hover {
  background-color: var(--fade-dark-sm);
}

.sc-form-text.sc-has-icon input:focus ~ label,
.sc-form-text.sc-has-label input:focus ~ label,
.sc-form-textarea.sc-has-icon textarea:focus ~ label,
.sc-form-textarea.sc-has-label textarea:focus ~ label {
  background-color: var(--fade-dark-sm);
  border-color: var(--color-secondary-light);
}

.sc-form-text.sc-has-icon input ~ label i,
.sc-form-textarea.sc-has-icon textarea ~ label i {
  width: 100%;
  height: 100%;
  background-color: var(--color-transparent);
  border: none;
  border-radius: 0;
}

.sc-form-text.sc-has-icon input:not(:disabled) ~ label i::before,
.sc-form-textarea.sc-has-icon textarea ~ label i::before {
  background-color: var(--color-primary-dark);
}

.sc-form-text.sc-has-icon input:disabled ~ label i::before,
.sc-form-textarea.sc-has-icon textarea:disabled ~ label i::before {
  background-color: var(--fade-grey-lg);
}

.sc-form-text.sc-has-icon input:focus ~ label i::before,
.sc-form-textarea.sc-has-icon textarea:focus ~ label i::before {
  background-color: var(--color-secondary-dark);
}
